@page "/fetchdata"
@using Mc2.CrudTest.Shared
@inject HttpClient _http

<h1>Customres</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (_customers == null)
{

    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date Of Birth</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Bank Account Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CustomerViewModel customer in _customers)
            {
                <tr>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>@customer.DateOfBirth</td>
                    <td>@customer.PhoneNumber</td>
                    <td>@customer.Email</td>
                    <td>@customer.BankAccountNumber</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<CustomerViewModel> _customers;

    protected override async Task OnInitializedAsync()
    {
        _customers = await _http.GetFromJsonAsync<List<CustomerViewModel>>("Customer/Get");
    }

}
